# MAC FILES
.DS_Store
# Python cache files
__pycache__/
*.pyc
# Jupyter Notebook checkpoints
.ipynb_checkpoints
# VSCode settings
.vscode/
# Data files
Datasets/
indices/
# pickle files
*.pkl

# QuPath
QuPath/

gdc-client
gdc_slide_manifest.txt